<module href="/components/header.html"></module>
<header>      
    <nav>
      <div class="inner">
        <img class="image-top" src="images/mc-logo-red-grey.png" alt="" loading="lazy">
          <button class="menu-container" type="button">
              <div class="menu">
                  <span></span>
                  <span></span>
                  <span></span>
                  <span></span>
              </div>
          </button>
          <ul class="navigation">
              <li>
                  <a href="#whatWeDo">What we do</a>
              </li>
              <li>
                  <a href="#whatWeOffer">What we offer</a>
              </li>
              <li>
                  <a href="#whatWeAreAbout">What we are about</a>
              </li>
              <li>
                  <a href="#contactUs">Contact us</a>
              </li>
          </ul>
        </div>
    </nav>
    <div class="image-container">
        <img class="image-bottom" src="images/mimosa-mobile-header.jpg" alt="" loading="lazy">
        <video playsinline autoplay muted loop id="bgvid">
            <source src="images/vibe-intro-opener.mp4" type="video/mp4">
        </video>
        <h1 class="header-text">Does data drive your website?</h1>
    </div>
    <div class="angle_white"></div>
</header>
<main>
    <section id="whatWeDo">
        <div class="inner">
            <h2>What we do</h2>
            <div class="flex-container">
                <div class="text-container first-container">
                    <p>From strategy to digital product development, we understand our clients' needs and develop solutions that matter.</p>
                    <p>We thrive in taking concepts from inception to implementation by employing an agile methodology to sift through data and technology to solve challenges and find opportunities that produce outcomes.</p>
                    <p>We take pleasure in our ability to elicit requirements and differentiate between wants and needs.</p>
                    <p>We collaborate with our clients to establish and implement business and functional needs from the ground up.
                    </p>
                </div>
            </div>
        </div>
    </section>
    <div class="coloured_bg">
      <div class="angle_blue-top"></div>
      <section id=whatWeOffer class="what_we_offer">
          <div class="inner">
              <h2>What we offer</h2>
              <div class="flex-container">
                  <div class="text-container reverse-order">
                    <ul>
                      <li><b>Brand first:</b> we put your brand, objectives, and vision first</li>
                      <li><b>Strategize:</b> we work on ideas and solutions that are effective and impactful</li>
                      <li><b>Custom development:</b> we develop solutions for your unique requirements, not one-size-fits-all</li>
                    </ul>
                  </div>
              </div>
          </div>
      </section>
      <div class="image-container"></div>
      <section id="whatWeAreAbout" class="what_we_are_about">
          <div class="inner">
              <h2>About us</h2>
              <div class="flex-container">
                  <div class="text-container">
                      <ul>
                        <li>We do what we do because we believe in making a difference</li>
                        <li>We distinguish ourselves by collaborating with our clients and leveraging data and technology to deliver world-class results</li>
                        <li>In general, we create digital products that thrill, offer value, and make a difference</li>
                      </ul>
                  </div>
              </div>
          </div>
      </section>
      <div class="angle_blue-bottom"></div>
    </div>
    <section id="contactUs" class="contact_us">
        <div class="inner">
            <h2>Contact us</h2>
            <div class="text-container">
                <p>Get in touch if you're interested in working with us.</p>
            </div>
            <form name="contact" method="POST" netlify>
              <div class="form-control">
                <label for="name" class="sr-only">Name</label>
                <input type="text" name="name" placeholder="Name" required>
              </div>
              <div class="form-control">
                <label for="email" class="sr-only">Email</label>
                <input type="email" name="email"  placeholder="Email" required>
              </div>
              <div class="form-control">
                <label for="message" class="sr-only">Message</label>
                <textarea name="message" placeholder="Message" required></textarea>
              </div>
              <div class="form-control">
                <button type="submit">Send</button>
              </div>
            </form>
        </div>
    </section>
</main>

<module href="/components/footer.html"></module>
