<module href="/components/header.html"></module>
<header>      
    <nav>
      <img class="image-top" src="images/mc-logo-red-grey.png" alt="" loading="lazy">
        <button class="menu-container" type="button">
            <div class="menu">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </div>
        </button>
        <ul class="navigation">
            <li>
                <a href="#whatWeDo">What we do</a>
            </li>
            <li>
                <a href="#whatWeOffer">What we offer</a>
            </li>
            <li>
                <a href="#whatWeAreAbout">What we are about</a>
            </li>
            <li>
                <a href="#contactUs">Contact us</a>
            </li>
        </ul>
    </nav>
    <div class="image-container">
        <img class="image-bottom" src="images/mimosa-mobile-header.jpg" alt="" loading="lazy">
        <video playsinline autoplay muted loop id="bgvid">
            <source src="images/vibe-intro-opener.mp4" type="video/mp4">
        </video>
        <h1 class="header-text">Does data drive your website?</h1>
    </div>
    <div class="angle_white"></div>
</header>
<main>
    <section id="whatWeDo">
        <div class="inner">
            <h2>What we do</h2>
            <div class="flex-container">
                <div class="text-container">
                    <p>From business strategy to digital product strategy, we are able to understand the true needs of our clients and develop solutions that really matter.<br>
                      We thrive in taking ideas and business requirements from inception and seeing it through to a working solution. Using agile methodology, we dig deep to uncover interesting and new angles using data and technology to solve problems whilst identifying opportunities that drive results.<br>
                      We pride ourselves in being able to elicit requirements and discern between wants and needs.<br>
                      Documenting and driving end to end business and functional requirements by working with functional unit leaders with a special focus on business transformation and digitisation.</p>
                </div>
                <!-- <div class="image-container">
                    <img class="" src="images/clouds.jpg" alt="" loading="lazy">
                </div> -->
            </div>
        </div>
    </section>
    <div class="coloured_bg">
      <div class="angle_blue-top"></div>
      <section id=whatWeOffer class="what_we_offer">
          <div class="inner">
              <h2>What we offer</h2>
              <div class="flex-container">
                  <div class="text-container reverse-order">
                      <p>Brand First: We take every step to understand your brand, goals, and vision.<br>
                        Strategize: We collaborate on strategies and explore solutions that fit and are impactful.<br>
                        Custom Development: It’s not one size fits all, we create solutions through elicitation, that fit your needs.
                        </p>
                  </div>

              </div>
          </div>
      </section>
      <div class="image-container">
        <img class="" src="images/mimosa-bg.jpg" alt="" loading="lazy">
      </div>
      <section id="whatWeAreAbout" class="what_we_are_about">
          <div class="inner">
              <h2>What we are about</h2>
              <div class="flex-container">
                  <div class="text-container">
                      <p>We do what we do because we believe in making a difference.
                        The way we differentiate ourselves is by working collaboratively and using technology and best practices for creating world-class digital products.<br>
                        Overall we make digital products that delight, add value and have an impact. 
                        </p>
                  </div>
              </div>
          </div>
      </section>
      <div class="angle_blue-bottom"></div>
    </div>
    <section id="contactUs" class="contact_us">
        <div class="inner">
            <h2>Contact us</h2>
            <div class="text-container">
                <p>Prow scuttle parrel provost Sail ho shrouds spirits boom mizzenmast yardarm. Pinnace holystone mizzenmast quarter crow's nest nipperkin grog yardarm hempen halter furl. Swab barque interloper chantey doubloon starboard grog black jack gangway rutters.</p>
            </div>
            <form name="contact" method="POST" netlify>
              <div class="form-control">
                <label for="name" class="sr-only">Name</label>
                <input type="text" name="name" placeholder="Name" required>
              </div>
              <div class="form-control">
                <label for="email" class="sr-only">Email</label>
                <input type="email" name="email"  placeholder="Email" required>
              </div>
              <div class="form-control">
                <label for="message" class="sr-only">Message</label>
                <textarea name="message" placeholder="Message" required></textarea>
              </div>
              <div class="form-control">
                <button type="submit">Send</button>
              </div>
            </form>
        </div>
    </section>
</main>

<module href="/components/footer.html"></module>
