footer {
  background-color: $dark-blue;
  position: relative;
  padding: 20px 0;

  .footer_img {
    width: 100%;
    max-width: 400px;
    margin-bottom: 20px;
  }

  .top_container {
    display: flex;
    margin-bottom: 20px;

    .conntact {
      margin-left: auto;
      p, a {
        color: $white;
        text-decoration: none;
      }
      p {
        text-align: right;
      }
      .other_contact_links {
        li {
          display: inline-block;
        }
      }
    }
  }
  .copyright {
    p {
      text-align: right;
      color: $white;
      font-size: 0.875rem;
    }
  }
}